.body{
  background-color: #fff8cd;
}
.cookie{
  position: absolute;
  float:left;
  width: 300px;
  z-index: 2;
}
.score{
  display: inline-block;
  position: absolute;
  border: solid 3px;
  padding-right: 100px;
  left:350px;
}
.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
.ckbt{
  position: absolute;
  top: 50px;
}
.ckbtt{
  position: absolute;
  top: 150px;
}
.ckbttt{
  position: absolute;
  top: 150px;
  left: 94%;
  visibility:hidden;
}
